body {
    font-family: 'Arial', sans-serif;
    text-align: center; /* Center the text */
    margin-top: 50px;
}

.title {
    font-size: 36px; /* Change font size */
    color: #ff6600; /* Stylish color */
}

.subtitle {
    font-size: 20px;
    color: #555;
}

h1 {
    font-size: 30px;
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center; /* Center the text */
    margin-top: 160px;
    font-weight: 150;  /* 100 is the lightest weight */
}