body {
    font-family: 'Arial', sans-serif;
    text-align: center; /* Center the text */
    margin-top: 50px;
}

.title {
    font-size: 36px; /* Change font size */
    color: #ff6600; /* Stylish color */
}

.subtitle {
    font-size: 20px;
    color: #555;
}

h1 {
    <!-- Add this in the <head> section of your HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    font-size: 25px;
    color: black;
    font-family: 'Poetsen One', sans-serif;
    text-align: center; /* Center the text */
    margin-top: 160px;
    font-weight: 550;  /* 700 is bold */
}